.Wrapper {
    width: 60%;
    margin: auto;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;   
}

.IncomeTotal {
    width: 100%;
    height: 10%;
    margin: 2% auto;
    border-radius: 20px;
    color: green;
}

.ExpenseTotal {
    width: 100%;
    height: 10%;
    margin: 2% auto;
    border-radius: 20px;
    color: red;
} 

.Budget {
    min-width: 90%;
    margin: auto;
    overflow: hidden;
    font-weight: bold;
    font-size: 1.2rem;
}


@media (min-width: 500px) and (min-height: 400px) {
    .Budget {
        width: 350px;
        /*height: 300px;*/
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Budget {
        width: 450px;
        /*height: 400px;*/
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Budget {
        width: 700px;
        /*height: 600px;*/
    }
}