.Income {
    width: 100%;
    height: 10%;
    margin: 2% auto;
    border-radius: 20px;
    color: green;
}

.Expense {
    width: 100%;
    height: 10%;
    margin: 2% auto;
    border-radius: 20px;
    color: red;
}